<footer class="footer container">
  <h4 class="footer__logo">
    @@include('../../bem-blocks/logo/_logo.html')
  </h4>

  <ul class="footer__contacts">
    <li>
      <a class="footer__social" href="https://www.telegram.org" title="наш телеграмм"><img
          src="img/icons/telegram-icon.svg" alt="telegram icon" class="telegrem-icon" /></a>
    </li>
    <li>
      <a href="mailto:info@adexpert.ru" class="footer__mail">info@adexpert.ru</a>
    </li>
    <li>@@include('../../bem-blocks/contact-link/_contact-link.html')</li>

  </ul>
</footer>