.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  &__logo {
    flex: 1;
  }

  &__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-text-accent);

    gap: 3rem;
  }
  &__mail {
    font: var(--content-font-demibold);
    font-size: calc(var(--rem-to-px) * 24);
  }
}
