.plans {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 3rem;
    .bg-tile {
      --tile-position-x: calc(0px);
      --tile-position-y: calc(100% - var(--tile-size));

      --tile-color: var(--clr-blue-800);
      opacity: 0.2;
    }
  }

  &__cards {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem 1fr 2rem;
    column-gap: 1.5rem;
    align-items: stretch;
    height: 100%;
  }
}
