<section class="plans container" id="plans">
  <div class="bg-tile"></div>
  <h2 class="plans__title">Наши тарифы</h2>

  <div class="plans__cards">
    @@loop('plan-card/_plan-card.html',[
    {
    "title": "Стартовый",
    "classes": "",
    "price": "25 000 ₽/месяц",
    "bullet": {
    "one": " ✓",
    "two": "5",
    "three": "1 час",
    "four": "1 раз./мес."
    }
    },
    {
    "title": "Базовый",
    "classes": "plan-card_center",
    "price": "50 000 ₽/месяц",
    "bullet": {
    "one": " ✓",
    "two": "15",
    "three": "5 часов",
    "four": "2 раз./мес."
    }
    },
    {
    "title": "Премиум",
    "classes": "",
    "price": "По запросу",
    "bullet": {
    "one": " ✓",
    "two": "от 25",
    "three": "10 часов",
    "four": "4 раз./мес."
    }
    }
    ])
  </div>
</section>