.plans {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 3rem;
    .bg-tile {
      --tile-position-x: calc(0px);
      --tile-position-y: calc(100% - var(--tile-size));

      --tile-color: var(--clr-blue-800);
      opacity: 0.2;
    }
  }

  &__cards {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2rem 1fr 2rem;
    column-gap: 1.5rem;
    align-items: stretch;
    // height: 100%;
    .plan-card {
      grid-row: 2;
      &_center {
        grid-row: -1 / 1;
      }
      @media (max-width: $phone) {
        grid-row: auto;
        &_center {
          grid-row: auto;
        }
      }
    }
    @media (max-width: $tablet) {
      grid-template-rows: 1rem 1fr 1rem;
    }
    @media (max-width: $phone) {
      // background: #000;
      row-gap: 1rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      grid-auto-flow: row;
    }
  }
}
