.header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  z-index: 3;
  @media (max-width: $tablet) {
    align-items: center;
  }
  .nav-menu {
    @media (max-width: $phone) {
      display: none;
    }
  }
}
