.advantages {
  // padding-top: 9rem;
  // padding-bottom: 9rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-bottom: 100px;
  }

  &__list {
    --size: 198px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, var(--size) auto);
    grid-template-areas:
      'odd1 . odd2 . odd3'
      'odd1 even1 odd2 even2 odd3'
      '. even1 . even2  .';
    grid-auto-flow: row;
    column-gap: 0px;
  }

  &__item {
    position: relative;
    max-width: var(--size);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    &[data-order='1'] {
      grid-area: odd1;
      div {
        background: var(--clr-blue-100);
      }
    }

    &[data-order='2'] {
      grid-area: even1;
      div {
        background: var(--clr-blue-300);
      }
    }

    &[data-order='3'] {
      grid-area: odd2;
      div {
        background: var(--clr-blue-600);
      }
    }

    &[data-order='4'] {
      grid-area: even2;
      div {
        background: var(--clr-blue-800);
      }
    }

    &[data-order='5'] {
      grid-area: odd3;
      div {
        background: var(--clr-blue-200);
      }
    }
  }

  &__text {
    text-align: center;
    font-size: 18px;
    // line-height: 1.2;
    padding: 0 4px;
  }

  .bg-images {
    margin-top: -4rem;
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: repeat(1, 1fr);

    .bg-image {
      position: absolute;
      width: 100%;
      object-fit: contain;

      &:nth-child(1) {
        right: -50%;
        bottom: -30%;
      }
      &:nth-child(2) {
        bottom: 25%;
        left: -60%;

        scale: -1 1;
      }
    }
  }

  .bg-tile {
    &:nth-child(1) {
      --tile-position-x: calc(100% - 1.5 * var(--tile-size));
      --tile-position-y: calc(100% - 1.4 * var(--tile-size));

      --tile-color: var(--clr-blue-100);
    }
    &:nth-child(2) {
      --tile-position-x: calc(100% - 0.5 * var(--tile-size));
      --tile-position-y: calc(100% - 0.5 * var(--tile-size));

      --tile-color: var(--clr-blue-300);
    }
  }
}

.image-wrapper {
  --size: 198px;
  width: var(--size);
  display: grid;
  place-items: center;
  aspect-ratio: 1;
}
