<section class="container advantages" id="advantages">
  <div class="bg-tile"></div>
  <div class="bg-tile"></div>

  <div class="bg-images">
    <img class="bg-image" src="img/background-image.svg" alt="background image" />
    <img class="bg-image" src="img/background-image.svg" alt="background image" />
  </div>
  <h2 class="advantages__title container__title">Почему нас выбирают?</h2>
  <ul class="advantages__list">
    <li class="advantages__item">
      <div class="image-wrapper">
        <img src="img/icons/law-icon.svg" alt="" class="advantages__image" />
      </div>
      <p class="advantages__text">Безопасность по ФЗ 152</p>
    </li>
    <li class="advantages__item">
      <div class="image-wrapper">
        <img src="img/icons/cloud-icon.svg" alt="" class="advantages__image" />
      </div>
      <p class="advantages__text">Современные серверные мощности</p>
    </li>
    <li class="advantages__item">
      <div class="image-wrapper">
        <img src="img/icons/russia-icon.svg" alt="" class="advantages__image" />
      </div>
      <p class="advantages__text">Находимся в России</p>
    </li>
    <li class="advantages__item">
      <div class="image-wrapper">
        <img src="img/icons/24hour-icon.svg" alt="" class="advantages__image" />
      </div>
      <p class="advantages__text">Доступ к серверу 24/7</p>
    </li>
    <li class="advantages__item">
      <div class="image-wrapper">
        <img src="img/icons/worldide-icon.svg" alt="" class="advantages__image" />
      </div>
      <p class="advantages__text">Коллективная работа по всему миру</p>
    </li>
  </ul>
</section>
