<section class="container headline">
  <div class="headline__text">
    <h2 class="container__title headline__title">Совместная работа в облаке сегодня</h2>
    <p class="headline__motto">
      Эффективное сотрудничество и инновации в&NewLine;строительной отрасли через облачный
      BIM-сервис
    </p>
  </div>
  <div class="bg-tile"></div>
  <div class="bg-tile"></div>
  <div class="bg-tile"></div>
  <div class="bg-tile"></div>
  <div class="bg-image-wrapper">
    <img src="./assets/construction-main.png" alt="Иллюстрция продукта" class="headline__image" />
  </div>
</section>
