.plan-card {
  --color: #f1f6ff;
  padding: 5rem 1rem 6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  background-color: var(--color);
  font-size: calc(var(--rem-to-px) * 18);
  @media (max-width: $tablet) {
    font-size: 14px;
    padding: 2rem 0.5rem;
  }

  &_center {
    align-self: stretch;
    justify-self: center;
    background-color: var(--clr-blue-300);
  }

  &__name,
  &__value,
  &__price {
    font: var(--content-font-demibold);
    color: var(--clr-text-accent);
    @media (max-width: $tablet) and (min-width: $phone) {
      font-size: 20px;
    }
  }
  &__price {
    font-size: 32px;
  }
  &__value {
    display: block;
    font-weight: medium;
    font-size: calc(var(--rem-to-px) * 24);
    margin-top: 10px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    align-items: center;
    // max-width: 75%;

    gap: 1rem;
    text-align: center;
  }

  &__option {
  }
}
